#root .container .custom-table {
  width: 100%;
  border: 1px solid gray;
  border-spacing: 0;
}
#root .container .custom-table tr th {
  background: lightgray;
  text-align: center;
}
#root .container .custom-table tr td {
  text-align: left;
  padding: 0;
}
#root .container .custom-table tr td.child-table-td {
  padding: 10px 0 10px 10px;
}
#root .container .custom-table tr td.child-table-td div.title {
  border: 1px solid black;
  border-width: 1px 0 0 1px;
  padding-left: 10px;
}
#root .container .custom-table tr td.child-table-td table.custom-table {
  border-right-width: 0;
}
#root .container .custom-table tr td .first-column-data {
  margin-left: 25px;
}
#root .container .custom-table tr td button.empty {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
#root .container .custom-table tr td .collapse-button-wrap {
  width: 18px;
  float: left;
}
#root .container .custom-table tr td .collapse-button-wrap button.collapse-button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 20px;
  line-height: 18px;
  vertical-align: middle;
}
#root .container .custom-table tr td .collapse-button-wrap button.collapse-button.collapsed {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 5px;
  padding-right: 3px;
}
#root .container .custom-table tr td .remove-button {
  float: right;
}
ul.pagination {
  display: inline-block;
  margin: 15px 0;
}
ul.pagination li {
  display: inline-block;
  margin: 0 2px;
}
ul.pagination li a {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
}
ul.pagination li.disabled a {
  cursor: not-allowed;
  color: #ddd;
}
ul.pagination li.active a {
  color: #fff;
  background: blue;
  border: 1px solid blue;
}

ul.pagination .break a {
  cursor: default;
}